body {
    background-color: blanchedalmond;
    margin: 0;
}

nav {
    overflow: hidden;
    background-color: aquamarine;
}

nav a {
    float: left;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 20px;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.about, .project {
    background-color: black;
    color: white;
}

.about {
    display: grid;
    grid-template-columns: auto auto;
}

.item2 {
    background-color: blueviolet;
    margin-block-end: 0;
    margin-block-start: 0;
}
