body {
    background-color: blanchedalmond;
}

nav {
    overflow: hidden;
    background-color: aquamarine;
}

nav a {
    float: left;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 20px;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}