body {
    margin: 0;
}

nav {
    overflow: hidden;
    background-color: white;
}

nav a {
    float: left;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 20px;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.about, .project, .proj-intro {
    background-color: black;
    color: white;
}

.about {
    display: grid;
    grid-template-columns: auto auto;
    padding: 80px;
}

.item2 {
    background-color: white;
    color: black;
}

.skill {
    text-align: center;
}

.proj-intro {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
}

.contact {
    text-align: center;
}

.grid-skill {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: white;
    border: 1px  solid black;
}

.grid-item {
    border: .9px solid rgba(0, 0, 0, 0.8);
    padding: 60px;
    text-align: center;
}

.project {
    text-align: center;
    display: grid;
}

.grid-projects {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: black;
    padding: 10px;
}

.grid {
    background-color: rgba(255, 255, 255, 0.1);
    border: 10px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
}

.contact {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-block-end: 0;
    margin-block-start: 0;
}

.grid-c {
    display: grid;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 80px;
    grid-template-columns: auto auto auto auto;
}